body {
    font-family: 'News Cycle', sans-serif;
    margin: auto;
}

section {
    background-image: url(../images/Game-of-Thrones.jpg);
    /* background-size: auto; */
    background-size: cover;
    background-repeat: round;
    min-height: 100vh;
    height: auto;
    padding: 60px 0;
    /* position: relative; */
}

.container {
    text-align: center;
    background-color: rgb(246, 252, 166);
    color: black;
    width: 960px;
    padding: 20px;
    overflow: auto;
    margin: 0 auto;
}

#title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    font-weight: bold;
    margin: 30px 10px;
    color: black;
}

#question {
    font-size: 40px;
    margin: 10px;
}

.time {
    font-size: 30px;
    margin: 10px;
    color: rgb(253, 42, 42);
}

#options {
    /* margin: 0 auto; */
    display: flex;
    flex-flow: column;
    cursor: pointer;
    font-size: 35px;
    width: 50%;
    margin: 0 auto;
}

#options:hover {
    /* color: rgb(77, 77, 230); */
    /* font-weight: 500; */
}

#start-game {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

#answers {
    font-size: 35px;
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#answers:hover {
    color: rgb(77, 77, 230);
    font-weight: bold;
}

button {
    border: none;
    background-color: transparent;
    /* font-size: 20px; */
}

button:hover {
    color: rgb(77, 77, 230);
    font-weight: 500;
}

#status {
    font-size: 30px;
    color: rgb(77, 77, 230);
}